/**
 * 
$black: #000;
$dark: #f7b733;
$light: rgba(254, 243, 224, 0.52);
 * [$black description]
 * @type {[type]}
 */

.wp-block-pmb-toolbar {

  background: rgba(254, 243, 224, 0.52);
  border: 5px #f7b733 solid;
  padding: 1rem;

  .high-contrast {
    background: #000;
    border-color: #000;
    color: white;
  }

  h2 {
    color: #f7b733;
    font-size: 2rem;
    margin: 1rem 0;
  }

  p {
    font-size: 1.4rem;
  }

  li {
    list-style-position: inside;
  }

}
